<%- include('header') -%>
<div class="box" id="heading">
  <h1><%= dateBeingDisplayed %></h1>
</div>

<div class="box">
  <%for(var i=0;i<newItemAdded.length;i++){%>
  <div class="item">
    <input type="checkbox">
    <p><%= newItemAdded[i] %></p>
  </div>
  <%}%>
    <form class="item" action="/" method="POST">
      <input type="text" name="workAdded" placeholder="New item" autocomplete="off">
      <button type="submit" name="listType" value=<%= dateBeingDisplayed %>>+</button>
  </form>
</div>

<%- include('footer') -%>
